# Set Vagrant Environment Variables Example
# Save-as "setVagrantEnv.ps1" and modify for your environment
#
# Values set in setVagrantEnv.ps1 override SETTINGS_LOCAL.yml
#

# Set Logging: debug (loud), info (normal), warn (quiet), and error (very quiet)
$env:VAGRANT_LOG="warn"

# SSHFS is now working OOB with HyperV I think.  You might have to install
# git on your host (or cygwin) to get this to work.
$env:VAGRANT_SYNCED_FOLDER_TYPE="sshfs"

# Use SMB (CIFS) Folder Share
#$env:VAGRANT_SYNCED_FOLDER_TYPE="smb"
#$env:VAGRANT_SMB_USERNAME="${env:USERNAME}@${env:USERDOMAIN}"
#$env:VAGRANT_SMB_PASSWORD="Sup3rS3cret"

# RSYNC should always work but is one way host -> guest
#$env:VAGRANT_SYNCED_FOLDER_TYPE="rsync"

# Network Bridge to Use (Defaults to "ExternalSwitch", which you have to
# manually create.) "Default Switch" is the new automatically created NAT
# switch that Windows 10 introduced with the "Fall 2017 Creator's Update",
# AKA as Windows 1709 or RedStone 3. Sadly, "Default Switch" has absolutely
# terrible performance, so stick with ExternalSwitch until Microsoft fixes
# Default Switch performance with linux guests.
#$env:VAGRANT_NETWORK_BRIDGE="ExternalSwitch"
#$env:VAGRANT_NETWORK_BRIDGE="Default Switch"

# Leave commented out to NOT autostart the Vagrant GUI, This is normally
# preferred, you should use `vagrant rdp` instead of the console.
#$env:VAGRANT_DESKTOP_GUI="true"

# Other Personal Configurations
#$env:VAGRANT_CODE_DIR="D:\Code"
#$env:VAGRANT_GIT_USER_NAME="${env:USERNAME}"
#$env:VAGRANT_GIT_USER_EMAIL="${env:USERNAME}@${env:USERDNSDOMAIN}"
#$env:VAGRANT_PUTTY_SSH_CLIENT=$(get-command kitty | %{$_.Source})
#$env:VAGRANT_LOCALE="C"
#$env:VAGRANT_TIMEZONE="America/Denver"
